extends layout

block content
  .container
    // SIDEBAR
    .sidebar
      h3 Categories
      ul
        li: a(href="/posts") All
        li: a(href="/posts?category=Action") Action
        li: a(href="/posts?category=Sports") Sports
        li: a(href="/posts?category=Adventure") Adventure

      h3 Tags
      ul
        li: a(href="/posts?tag=FPS") FPS
        li: a(href="/posts?tag=RPG") RPG
        li: a(href="/posts?tag=Tips") Tips
        li: a(href="/posts?tag=Mobile") Mobile
        li: a(href="/posts?tag=Indie") Indie

    // MAIN CONTENT
    .main
      h2 🎮 Game Posts

      if posts.length === 0
        p No posts found.

      else
        each post in posts
          .card.post
            // CLICKABLE IMAGE
            a(href=`/posts/${post.id}`)
              img(src=`/images/${post.image || 'default.png'}`)

            .post-info
              // CLICKABLE TITLE
              a(href=`/posts/${post.id}`)
                h3= post.title

              p By #{post.username || "Unknown"}

              p ⭐ Rating: #{post.rating} / 5
              p 👍 Likes: #{post.likes}