extends layout

block content
  .main
    h2 🎮 #{post.title}

    .container
      // LEFT SIDE (VIDEO / IMAGE)
      .main-content
        img(src=`/images/${post.image || 'default.png'}` style="width:100%; height:400px; object-fit:cover;")

        h3= post.title
        p By #{post.username}

        .actions
          button 👍 Like (#{post.likes})
          button 💬 Comment

        p ⭐ Rating: #{post.rating} / 5

        h4 Tags
        each tag in tags
          a(href=`/posts?tag=${tag.name}` style="margin-right:10px") #{tag.name}

      // RIGHT SIDE (COMMENTS)
      .sidebar
        h3 Comments

        if comments.length === 0
          p No comments yet.

        each comment in comments
          .card
            p #{comment.content}
            small by #{comment.username}