extends layout

block content
  .main
    .profile-header
      h2= user.username
      p 📄 Posts: #{posts.length}

    h3 User Posts

    each post in posts
      .card.post
        img(src=`/images/${post.image || 'default.png'}`)
        .post-info
          h3= post.title
          p ⭐ Rating: #{post.rating}
          p 👍 Likes: #{post.likes}